<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Uploads</title>
</head>
<body>
{% if message %} <h3> {{ message }} </h3> {% endif %}
<h2> File Uploader <form id="file_form"  method="post" enctype="multipart/form-data">
    <input type="file" name="my_upload" id="upload_file"/>
    <input type="submit" value="Start upload" />
</form></h2>
<table>
    <thead><td>File</td><td>Type</td><td>Date</td><td>Size</td></thead>
    {% for file in files %}
    <tr><td><a href="{{ file.path }}"> {{ file.name }}</a></td><td>{{ file.type }}</td><td>{{ file.date }}</td><td>{{ file.size }}</td></tr>
    {% endfor %}
</table>
</body>
</html>
